body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container_formulario {
    width: 40%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.form-section, .search-section {
    margin-bottom: 20px;
}
.form-section input, .search-section input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    font-size: 16px;
}
.form-section button {
    width: 20%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container_buscar {
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}
table th {
    background-color: #f2f2f2;
}
.action-buttons a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 18px;
    margin: 0 5px;
}
